.container_navbar{
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    height: 30%;
    color: rgb(255, 255, 255);
    margin: 0;

}

.image-reduce-navbar > .burger-form-logo > img{
    width: 10rem;
    height: 10rem;
}

.burger-form-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17%;
   margin: 0 auto;
    left: 0;

  }
  .burger-form-logo img {
    width: 100%;
    height: 100%;
  }

  .numberphone{
    left: -15%;
    position: relative;
    top: 36%;
    font-size: xx-large;
   
  }