


.container_pague-only-beer{
    background-image: url("../../assets/img/graybackground.png");
    height: 100%;
    width: 100%;


}

.text-only-beer{
    position: relative;
    align-items: center;
    width: 100%;
    justify-content: center;
    display: flex;
    font-weight: 800;
    margin: 0;
    padding: 0;
    height: 45%;
    font-size: 800%;
    
    
}

.text-color{
    color: white;
    padding: 0;
    margin: 0;
    

}

.incline-beer{
    background-image: url("../../assets/img/Beerbig.png");
    
    height: 38%;
    width: 62%;
    position: relative;
    left: 38%;
    top: -20%;
}




.icons_beers{
    position: relative;
    width: 100%;
    justify-content: space-around;
    display: flex;
    color: white;
    top: -13%;

}