.containerbeerpage {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: row;
}


.title {
  width: 100%;
  font-weight: 900;
  padding: 0;
  color: black;
  text-align: center;
  height: 10%;
  font-size: xxx-large;
}

.containerleftpage {
  width: 60%;
  background: black;
  display: flex;
  flex-direction: column;
}


.containerleftpage{
  position: relative;
  width: 60%;
  margin: 0;
  padding: 0;
  background: black;
}

.containerrighttpage {
  background: white;
  width: 40%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.container_itemsbeer {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
  background: #ffffff;
  justify-content: space-around;
}

.item-beer{
  background: #F0F0EE;
  height: 20%;
  display: flex;
  justify-content: space-around;
 


}



@media screen and (min-width: 320px) and (max-width: 767px){
  .title{
    font-size: 1.5rem;
  }
  
  .title_beer-alone{
    font-size: x-large;
  }
.description_beer-alone{
  font-size: initial;
}
  
  .containerleftpage {
    position: relative;
    width: 50%;
    margin: 0;
    padding: 0;
    display: flex;
    background: black;
    flex-direction: column;
    
}
.container_card-beerpage {
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  background: #000000;
  display: flex;
  flex-direction: column;
}

.background_card {

  width: 100%;
  height: 50%;
  background-position: center;
}


//.............................................................
.containerrighttpage {
  background: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.title {
  font-weight: 900;
  color: black;
  text-align: center;
  height: 10%;
  font-size: x-large;
}
.container_itemsbeer {
  display: flex;
  flex-direction: column;
  background: #ffffff;
}
.item-beer {
  background: #F0F0EE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  text-align: center;
  img{
    width: 50px;
        height: auto;
  }
}

}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .title{
    font-size: 1.5rem;
  }
  
  .title_beer-alone{
    font-size: x-large;
  }
.description_beer-alone{
  font-size: initial;
}
  
  .containerleftpage {
    position: relative;
    width: 50%;
    margin: 0;
    padding: 0;
    display: flex;
    background: black;
    flex-direction: column;
    
}
.container_card-beerpage {
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  background: #000000;
  display: flex;
  flex-direction: column;
}

.background_card {

  width: 100%;
  height: 50%;
  background-position: center;
}


//.............................................................
.containerrighttpage {
  background: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.title {
  font-weight: 900;
  color: black;
  text-align: center;
  height: 10%;
  font-size: x-large;
}
.container_itemsbeer {
  display: flex;
  flex-direction: column;
  background: #ffffff;
}
.item-beer {
  background: #F0F0EE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  text-align: center;
  img{
    width: 50px;
        height: auto;
  }
}

}

@media screen and (min-width: 1024px) and (max-width: 1800px){
 
  .title_beer-alone{
    font-size: x-large;
  
  }

  .containerleftpage {
    position: relative;
    width: 50%;
    margin: 0;
    padding: 0;
    display: flex;
    background: black;
    flex-direction: column;
    
}
.container_card-beerpage {
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  background: #000000;
  display: flex;
  flex-direction: column;
}

.background_card {

  width: 59%;
    height: 36%;
}


//.............................................................
.containerrighttpage {
  background: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.title {
  font-weight: 900;
  color: black;
  text-align: center;
  height: 10%;
  font-size: 4rem;
}
.container_itemsbeer {
  display: flex;
  flex-direction: column;
  background: #ffffff;
}
.item-beer {
  background: #F0F0EE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  text-align: center;
  img{
    width: 40px;
        height: auto;
  }
}

}

