.containerbeerpage {
  width: 100%;
    height: 100%;
    display: flex;
 
}


.title {
  width: 100%;
  font-weight: 600;
  padding: 0;
  height: 12%;
  font-size: 450%;
  color: black;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 0px;

}

.containerleftpage{
  position: relative;
  width: 60%;
  margin: 0;
  padding: 0;
  background: #000000;

}


.containerleftpage{
  position: relative;
  width: 60%;
  margin: 0;
  padding: 0;
  background: black;
}

.containerrighttpage{
  background: white;
    width: 40%;
}

.container_itemsbeer{
  display: flex;
  flex-direction: column;
  height: 81%;
  width: 100%;
  background: #ffffff;
  justify-content: space-around;
}

.item-beer{
  background: #F0F0EE;
  height: 20%;
  display: flex;
  justify-content: space-around;
 


}