.background_card{

    background-image: url("../../../assets/img/FriendsdrinkingPokerbeer.png");
    width: 66%;
    height: 47%;
    top: 15%;
    position: relative;
    left: 15%;

}

.container_card-beerpage{
    height: 100%;
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #000000;
    justify-content: center;
    display: flow-root;
}

.container_textfriendsbeer{

    position: relative;
    left: 15%;
    top: 15%;
    width: 60%;}

.tittle_friendsbeer{

    width: 100%;
    font-weight: 900;
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-size: xxx-large;

}

.description_beer{
    color: rgb(252, 252, 252);
    font-size: 1.8rem;
}

