.container_main_page {
  width: 100%;
  height: 100vh;
  display: flex;
  background-image: url("../../assets/img/friendshome.jpg");
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container_socialbarhome {
  background: transparent;
  position: relative;
  width: 14%;
  left: 9%;
  bottom: -50%;
}

.container_carrosel {
  height: 67%;
  width: 38%;
}

@media screen and (min-width: 1024px) and (max-width: 1800px) {
  .container_carrosel {
    height: 42%;
    width: 43%;
    margin-left: 6%;
    background: transparent;
    .carousel-item {
      display: flex;
      justify-content: center;
      img {
        width: 54%;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container_main_page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url("../../assets/img/MILXMIL.png");
    .container__texthomecard {
      width: 50%;

      height: 57%;
      margin-top: 15%;
    }
    .textboxone {
      margin: 0px;
      color: white;
      padding: 0;
      font-size: larger;
    }

    .container_carrosel {
      height: 42%;
      width: 42%;
      background: transparent;
      .carousel-item {
        display: flex;
        justify-content: center;
        img {
          width: 54%;
        }
      }
    }
  }

  .container__texthomecard {
    width: 50%;

    height: 57%;
    margin-top: 15%;
  }
  .textboxone {
    margin: 0px;
    color: white;
    padding: 0;
    font-size: larger;
  }

  .container_carrosel {
    height: 60%;
    width: 76%;
    margin-left: 50px;

    background: transparent;
    .carousel-item {
      display: flex;
      justify-content: center;
      img {
        width: 35%;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container_main_page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url("../../assets/img/MILXMIL.png");
    background-position: center;
  }
  .textboxone {
    margin: 0px;
    color: white;
    padding: 0;
    font-size: small;
  }
  .container__texthomecard {
    margin: 0;
    padding: 0;
    width: 90%;
    height: 35%;
    margin-top: 80px;
  }
  .textboxbigletter {
    margin: 0px;
    color: white;
    padding: 0;
  }

  .container_carrosel {
    height: 66%;
    width: 76%;
    margin-left: 20px;

    background: transparent;
    .carousel-item {
      display: flex;
      justify-content: center;
      img {
        width: 35%;
      }
    }
  }
}
