.container_pagemap {
  height: 100vh;
  width: 100%;
}

.container_google-map {
  width: 100%;
  height: 60%;
 
}

.container_footer {
  height: 20%;
  width: 100%;

  justify-content: space-around;
  display: flex;
  color: rgb(255, 255, 255);
  font-size: 300%;
  font-weight: 900;
  background: black;
}

.container_tittlelastpage {
  width: 100%;
 
  height: 20%;
  display: flex;
  justify-content: center;
  .p {
   
    font-size: 400%;
    font-weight: 900;
    
  }
}


.footer-logo{
  width: 16%;
}



@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container_footer {
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.container_footersocial {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
}
.footer-logo {
  vertical-align: middle;
  background: black;
  height: 5rem;
  width: 30%;
}

.footer-number {
  background: black;
  text-align: -webkit-center;
  font-size: 2rem;
}

  .container_tittlelastpage {
    width: 100%;
    background: #ffffff;
    text-align: center;
    height: 40px;
  }

  .container_tittlelastpage .p {
    font-size: 200%;
    font-weight: 900;
    top: 0%;
    background: rgb(255, 255, 255);
    height: 100%;
  }

 



}



@media screen and (min-width: 320px) and (max-width: 767px) {
  .container_footer {
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.container_footersocial {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
}
.footer-logo {
  vertical-align: middle;
  background: black;
  height: 5rem;
  width: 30%;
}

.footer-number {
  background: black;
  text-align: -webkit-center;
  font-size: 2rem;
}

  .container_tittlelastpage {
    width: 100%;
    background: #ffffff;
    text-align: center;
    height: 40px;
  }

  .container_tittlelastpage .p {
    font-size: 200%;
    font-weight: 900;
    top: 0%;
    background: rgb(255, 255, 255);
    height: 100%;
  }

 



}

