.container_pagemap{
    height: 100%;
    width: 100%;
}


.container_google-map{
    width: 100%;
    height: 60%;
    position: relative;

}


.container_footer{
    height: 20%;
    width: 100%;
    position: relative;
    justify-content: space-around;
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 300%;
    font-weight: 900;
    background: black;
    
}

.container_tittlelastpage{
    width: 100%;
    position: relative;
    height: 20%;
    display: flex;
    justify-content: center;
    .p{
        position: relative;
        font-size: 400%;
        font-weight: 900;
        top: 25%;
    }
}