.container_pageinformation{

    width: 100%;
    height: 100vh;
    background-image: url("../../assets/img/backgroundtwo.png");
}


.container_logos-page{
    position: relative;
    width: 51%;
    right: -42%;
    justify-content: space-around;
    display: flex;
    top: 33%;
    color:white;
}
  