.textboxone{
    margin: 0px;
    color: white;
    padding: 0;

}

.container__texthomecard{

    width: 36%;
    position: relative;
    top: 32%;
    right: -9%;
    margin: 0;
    padding: 0;
    
}

.textboxbigletter{
    margin: 0px;
    font-size: -webkit-xxx-large;
    color: white;
    padding: 0;
}