.social-container {
  background: transparent;
  height: 40%;
}

a.social {
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.youtube {
  color: #ffffff;
}

a.facebook {
  color: #ffffff;
}

a.twitter {
  color: #ffffff;
}

a.instagram {
  color: rgb(255, 255, 255);
}

@media(min-width: 320px) and (max-width: 767px){
  .social-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    svg{
      width: 50px;
    }
  }
}
