.container_cardpagetwo {

  height: 40%;
  width: 40%;
  color: white;
  height: 23%;
 

}


.p {
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-size: xxx-large;
}

.infotext {
  margin-top: 0;
}
