.container_cardpagetwo {
  position: relative;
  height: 40%;
  width: 40%;
  top: 22%;
  right: -50%;
  color: white;
}


.p {
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-size: xxx-large;
}

.infotext {
  margin-top: 7%;
}
